/web/bundles/
!/web/uploads
/web/uploads/*
!web/uploads/.gitkeep
!/web/uploads/media
/web/uploads/media/*
!web/uploads/media/.gitkeep
!/app/cache
/app/cache/*
!app/cache/.gitkeep
!/app/logs
/app/logs/*
!app/logs/.gitkeep
/app/bootstrap.php.cache
/app/config/parameters.yml
/app/phpunit.xml
/app/SymfonyRequirements.php
/app/check.php
/build/
/vendor/
!/bin
/bin/*
!bin/base_script.php
!bin/reload
/composer.phar
.idea/
*~
